In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import random
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
main_data= pd.read_csv('Data_Marketing_Customer_Analysis_Round2.csv')

In [4]:
main_data.columns= [item.lower() for item in main_data.columns]

In [5]:
main_data= main_data.rename(columns={'st':'state',"customer lifetime value":"cust_life_val","employmentstatus":"employ_status","monthly premium auto":"month_prem_auto",
                          "number of open complaints":"no_open_compl","number of policies":"no_of_policies","policy type":"policy_type",
                        "vehicle class":"veh_class","total claim amount":"tot_claim_amt","vehicle size":"vehicle_size",
                                     "vehicle type":"vehicle_type","renew offer type":"renew_off_type","sales channel":"sales_channel"
                       })

In [6]:
main_data

,unnamed: 0,customer,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [7]:
main_data= main_data.drop(columns=["customer"])
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed: 0                     10910 non-null  int64
 1   state                          10279 non-null  object
 2   cust_life_val                  10910 non-null  float64
 3   response                       10279 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective to date              10910 non-null  object
 7   employ_status                  10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location code                  10910 non-null  object
 11  marital status                 10910 non-null  object
 12  month_prem_auto                10910 non-null  int64
 13  months since last claim        10277 non-null  float64
 14  months since policy inception  10910 non-null  int64
 15  no_open_compl                  10277 non-null  float64
 16  no_of_policies                 10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_off_type                 10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  tot_claim_amt                  10910 non-null  float64
 22  veh_class                      10288 non-null  object
 23  vehicle_size                   10288 non-null  object
 24  vehicle_type                   5428 non-null   object
dtypes: float64(4), int64(5), object(16)
memory usage: 2.1+ MB

In [8]:
main_data.state.value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [9]:
main_data["state"]= main_data["state"].str.lower()
main_data["education"]= main_data["education"].str.lower()
main_data["policy_type"]= main_data["policy_type"].str.lower()
main_data["policy"]= main_data["policy"].str.lower()
main_data["veh_class"]= main_data["veh_class"].str.lower()
main_data["employ_status"]= main_data["employ_status"].str.lower()
main_data["renew_off_type"]= main_data["renew_off_type"].str.lower()
main_data["sales_channel"]= main_data["sales_channel"].str.lower()
main_data["vehicle_size"]= main_data["vehicle_size"].str.lower()

In [10]:
main_data

,unnamed: 0,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,income,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,0,arizona,4809.216960,No,Basic,college,2/18/11,employed,M,48029,...,0.0,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,NaN
1,1,california,2228.525238,No,Basic,college,1/18/11,unemployed,F,0,...,0.0,1,personal auto,personal l3,offer4,call center,744.924331,four-door car,medsize,NaN
2,2,washington,14947.917300,No,Basic,bachelor,2/10/11,employed,M,22139,...,0.0,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,A
3,3,oregon,22332.439460,Yes,Extended,college,1/11/11,employed,M,49078,...,0.0,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,A
4,4,oregon,9025.067525,No,Premium,bachelor,1/17/11,medical leave,F,23675,...,NaN,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,nevada,15563.369440,No,Premium,bachelor,1/19/11,unemployed,F,0,...,NaN,7,personal auto,personal l1,offer3,web,1214.400000,luxury car,medsize,A
10906,10906,oregon,5259.444853,No,Basic,college,1/6/11,employed,F,61146,...,0.0,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,A
10907,10907,arizona,23893.304100,No,Extended,bachelor,2/6/11,employed,F,39837,...,0.0,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,NaN
10908,10908,california,11971.977650,No,Premium,college,2/13/11,employed,F,64195,...,4.0,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,A
10909,10909,NaN,6857.519928,NaN,Basic,bachelor,1/8/11,unemployed,M,0,...,0.0,3,personal auto,personal l1,offer4,web,1021.719397,suv,medsize,NaN

### Finding and cleaning nan in the data

In [11]:
main_data["state"]= main_data.state.fillna("Unknown")
main_data

,unnamed: 0,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,income,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,0,arizona,4809.216960,No,Basic,college,2/18/11,employed,M,48029,...,0.0,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,NaN
1,1,california,2228.525238,No,Basic,college,1/18/11,unemployed,F,0,...,0.0,1,personal auto,personal l3,offer4,call center,744.924331,four-door car,medsize,NaN
2,2,washington,14947.917300,No,Basic,bachelor,2/10/11,employed,M,22139,...,0.0,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,A
3,3,oregon,22332.439460,Yes,Extended,college,1/11/11,employed,M,49078,...,0.0,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,A
4,4,oregon,9025.067525,No,Premium,bachelor,1/17/11,medical leave,F,23675,...,NaN,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,nevada,15563.369440,No,Premium,bachelor,1/19/11,unemployed,F,0,...,NaN,7,personal auto,personal l1,offer3,web,1214.400000,luxury car,medsize,A
10906,10906,oregon,5259.444853,No,Basic,college,1/6/11,employed,F,61146,...,0.0,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,A
10907,10907,arizona,23893.304100,No,Extended,bachelor,2/6/11,employed,F,39837,...,0.0,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,NaN
10908,10908,california,11971.977650,No,Premium,college,2/13/11,employed,F,64195,...,4.0,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,A
10909,10909,Unknown,6857.519928,NaN,Basic,bachelor,1/8/11,unemployed,M,0,...,0.0,3,personal auto,personal l1,offer4,web,1021.719397,suv,medsize,NaN

In [12]:
main_data["response"]= main_data.response.fillna("Unknown")
main_data

,unnamed: 0,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,income,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,0,arizona,4809.216960,No,Basic,college,2/18/11,employed,M,48029,...,0.0,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,NaN
1,1,california,2228.525238,No,Basic,college,1/18/11,unemployed,F,0,...,0.0,1,personal auto,personal l3,offer4,call center,744.924331,four-door car,medsize,NaN
2,2,washington,14947.917300,No,Basic,bachelor,2/10/11,employed,M,22139,...,0.0,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,A
3,3,oregon,22332.439460,Yes,Extended,college,1/11/11,employed,M,49078,...,0.0,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,A
4,4,oregon,9025.067525,No,Premium,bachelor,1/17/11,medical leave,F,23675,...,NaN,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,nevada,15563.369440,No,Premium,bachelor,1/19/11,unemployed,F,0,...,NaN,7,personal auto,personal l1,offer3,web,1214.400000,luxury car,medsize,A
10906,10906,oregon,5259.444853,No,Basic,college,1/6/11,employed,F,61146,...,0.0,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,A
10907,10907,arizona,23893.304100,No,Extended,bachelor,2/6/11,employed,F,39837,...,0.0,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,NaN
10908,10908,california,11971.977650,No,Premium,college,2/13/11,employed,F,64195,...,4.0,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,A
10909,10909,Unknown,6857.519928,Unknown,Basic,bachelor,1/8/11,unemployed,M,0,...,0.0,3,personal auto,personal l1,offer4,web,1021.719397,suv,medsize,NaN

In [13]:
mode_cust_life_val= np.mean(main_data["cust_life_val"])
main_data["cust_life_val"]= main_data.cust_life_val.fillna(average_cust_life_val)
main_data

NameError: name 'average_cust_life_val' is not defined

In [ ]:
mode_no_open_compl= 0
main_data["no_open_compl"]= main_data.no_open_compl.fillna(mode_no_open_compl)
main_data

In [14]:
main_data["vehicle_type"]= main_data.vehicle_type.fillna("unknown")
main_data

,unnamed: 0,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,income,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,0,arizona,4809.216960,No,Basic,college,2/18/11,employed,M,48029,...,0.0,9,corporate auto,corporate l3,offer3,agent,292.800000,four-door car,medsize,unknown
1,1,california,2228.525238,No,Basic,college,1/18/11,unemployed,F,0,...,0.0,1,personal auto,personal l3,offer4,call center,744.924331,four-door car,medsize,unknown
2,2,washington,14947.917300,No,Basic,bachelor,2/10/11,employed,M,22139,...,0.0,2,personal auto,personal l3,offer3,call center,480.000000,suv,medsize,A
3,3,oregon,22332.439460,Yes,Extended,college,1/11/11,employed,M,49078,...,0.0,2,corporate auto,corporate l3,offer2,branch,484.013411,four-door car,medsize,A
4,4,oregon,9025.067525,No,Premium,bachelor,1/17/11,medical leave,F,23675,...,NaN,7,personal auto,personal l2,offer1,branch,707.925645,four-door car,medsize,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,nevada,15563.369440,No,Premium,bachelor,1/19/11,unemployed,F,0,...,NaN,7,personal auto,personal l1,offer3,web,1214.400000,luxury car,medsize,A
10906,10906,oregon,5259.444853,No,Basic,college,1/6/11,employed,F,61146,...,0.0,6,personal auto,personal l3,offer2,branch,273.018929,four-door car,medsize,A
10907,10907,arizona,23893.304100,No,Extended,bachelor,2/6/11,employed,F,39837,...,0.0,2,corporate auto,corporate l3,offer1,web,381.306996,luxury suv,medsize,unknown
10908,10908,california,11971.977650,No,Premium,college,2/13/11,employed,F,64195,...,4.0,6,personal auto,personal l1,offer1,branch,618.288849,suv,medsize,A
10909,10909,Unknown,6857.519928,Unknown,Basic,bachelor,1/8/11,unemployed,M,0,...,0.0,3,personal auto,personal l1,offer4,web,1021.719397,suv,medsize,unknown

### Splitting X and y

In [15]:
train=main_data.sample(frac=0.25,random_state=200)
main_data.reset_index()
train.reset_index()

,index,unnamed: 0,state,cust_life_val,response,coverage,education,effective to date,employ_status,gender,...,no_open_compl,no_of_policies,policy_type,policy,renew_off_type,sales_channel,tot_claim_amt,veh_class,vehicle_size,vehicle_type
0,5802,5802,arizona,3920.511337,No,Premium,high school or below,2/4/11,unemployed,F,...,1.0,1,personal auto,personal l3,offer3,branch,525.392239,two-door car,large,unknown
1,3381,3381,arizona,9983.128441,No,Extended,college,1/6/11,unemployed,F,...,0.0,2,personal auto,personal l1,offer3,call center,669.600000,four-door car,medsize,A
2,10376,10376,california,7901.744238,No,Basic,high school or below,2/2/11,unemployed,M,...,0.0,5,personal auto,personal l3,offer1,call center,1258.327804,NaN,NaN,A
3,8059,8059,california,4872.016380,No,Basic,master,1/11/11,unemployed,M,...,0.0,7,personal auto,personal l2,offer1,agent,307.200000,NaN,NaN,A
4,4130,4130,oregon,8231.223361,No,Basic,college,1/11/11,unemployed,F,...,0.0,4,personal auto,personal l3,offer1,web,373.073162,suv,medsize,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2723,1233,1233,california,8996.774075,No,Basic,high school or below,2/13/11,employed,M,...,0.0,3,personal auto,personal l3,offer2,call center,617.515196,suv,medsize,unknown
2724,2789,2789,california,7295.332712,No,Extended,high school or below,2/15/11,employed,F,...,0.0,3,corporate auto,corporate l3,offer3,agent,603.350571,four-door car,medsize,unknown
2725,9608,9608,arizona,2345.262087,No,Basic,college,2/3/11,employed,M,...,0.0,1,personal auto,personal l3,offer1,branch,292.800000,four-door car,medsize,unknown
2726,10567,10567,oregon,2854.266940,No,Basic,high school or below,2/10/11,employed,F,...,0.0,1,personal auto,personal l3,offer1,agent,472.043042,two-door car,small,A
2727,4661,4661,washington,2513.117202,No,Basic,bachelor,2/14/11,employed,M,...,1.0,1,personal auto,personal l3,offer2,agent,307.200000,four-door car,large,unknown

### Normalize (numerical)

In [23]:
from sklearn.preprocessing import MinMaxScaler
numerical_data= main_data._get_numeric_data()
scaler = MinMaxScaler()
scaler.fit(numerical_data)
scaled_main_num_data_minmax= scaler.transform(numerical_data)
scaled_main_num_data_minmax

array([[0.00000000e+00, 3.57522189e-02, 4.80381272e-01, ...,
        0.00000000e+00, 1.00000000e+00, 1.01170674e-01],
       [9.16674306e-05, 4.05904733e-03, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 2.57445250e-01],
       [1.83334861e-04, 1.60264406e-01, 2.21432072e-01, ...,
        0.00000000e+00, 1.25000000e-01, 1.65875444e-01],
       ...,
       [9.99816665e-01, 2.70121649e-01, 3.98445705e-01, ...,
        0.00000000e+00, 1.25000000e-01, 1.31762687e-01],
       [9.99908333e-01, 1.23717241e-01, 6.42071994e-01, ...,
        8.00000000e-01, 6.25000000e-01, 2.13674312e-01],
       [1.00000000e+00, 6.09071868e-02, 0.00000000e+00, ...,
        0.00000000e+00, 2.50000000e-01, 3.53118118e-01]])

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(numerical_data)
scaled_main_num_data_std= scaler.transform(numerical_data)
scaled_main_num_data_std

array([[-1.73189206, -0.46610505,  0.34563485, ..., -0.42114283,
         2.50945468, -0.48632546],
       [-1.73157454, -0.84094593, -1.23646244, ..., -0.42114283,
        -0.82492205,  1.06115963],
       [-1.73125702,  1.00652314, -0.50719362, ..., -0.42114283,
        -0.40812496,  0.15440363],
       ...,
       [ 1.73125702,  2.30582467,  0.07578661, ..., -0.42114283,
        -0.40812496, -0.18339273],
       [ 1.73157454,  0.5742732 ,  0.87815031, ...,  3.96283781,
         1.25906341,  0.62772461],
       [ 1.73189206, -0.16859268, -1.23646244, ..., -0.42114283,
         0.00867213,  2.00854558]])

### One Hot/Label Encoding (categorical).

In [29]:
main_data["state"].value_counts()
state_types = ('california','oregon ','arizona','nevada','washington','Unknown')
state_df = pd.DataFrame(state_types, columns=['state_types'])

# converting type of columns to 'category'
state_df['state_types'] = state_df['state_types'].astype('category')

# Assigning numerical values and storing in another column
state_df['state_types_cat'] = state_df['state_types'].cat.codes
state_df

  state_types  state_types_cat
0  california                2
1     oregon                 4
2     arizona                1
3      nevada                3
4  washington                5
5     Unknown                0

In [30]:
from sklearn.preprocessing import OneHotEncoder

# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

# passing state-types-cat column (label encoded values of state_types)
enc_df = pd.DataFrame(enc.fit_transform(state_df).toarray())

# merge with main df bridge_df on key values
state_df = state_df.join(enc_df)
state_df

,state_types,state_types_cat,0,1,2,3,4,5,6,7,8,9,10,11
0,california,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,oregon,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,arizona,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,nevada,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,washington,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5,Unknown,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0