In [437]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [438]:
cars= pd.read_csv("vehicles.csv").reset_index()
cars.drop(columns=['index'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [439]:
## The data type of the variable looks fine
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    35952 non-null  int64
 1   Make                     35952 non-null  object
 2   Model                    35952 non-null  object
 3   Year                     35952 non-null  int64
 4   Engine Displacement      35952 non-null  float64
 5   Cylinders                35952 non-null  float64
 6   Transmission             35952 non-null  object
 7   Drivetrain               35952 non-null  object
 8   Vehicle Class            35952 non-null  object
 9   Fuel Type                35952 non-null  object
 10  Fuel Barrels/Year        35952 non-null  float64
 11  City MPG                 35952 non-null  int64
 12  Highway MPG              35952 non-null  int64
 13  Combined MPG             35952 non-null  int64
 14  CO2 Emission Grams/Mile  35952 non-null  float64
 15  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 4.4+ MB

### Cleaning and Wrangling data

In [440]:
cars["Make"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

In [441]:

cars["Make"].replace("E. P. Dutton, Inc.","Dutton",inplace= True)
cars["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'Dutton', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [442]:
cars["Make"]=list(map(lambda x: "BMW" if ( "BMW" in x ) else x, cars['Make']))
cars["Make"]=list(map(lambda x: "Dutton" if ( "Dutton" in x ) else x, cars['Make']))
cars["Make"]=list(map(lambda x: "PAS, Inc" if ( "PAS" in x ) else x, cars['Make']))
cars["Make"]=list(map(lambda x: "Grumman Allied Industries" if ( "Grumman" in x ) else x, cars['Make']))

cars["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'Bentley',
       'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'Dutton', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Honda', 'Hummer', 'Hyundai',
       'Import Foreign Auto Sales Inc', 'Import Trade Services',
       'Infiniti', 'Isis Imports Ltd', 'Isuzu', 'J.K. Motors',
       'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS, Inc', 'Pagani', 'Panos',
       'Panoz Auto-Development', 'Panther Car Company Limited', 'Peugeot',
       'Pininfarina', 'Plymouth', 'Pontiac', 'Porsche',
       'Quantum Technologies', 'Qvale', 'Ram', 'Red Shift Ltd.',
       'Renault', 'Rolls-Royce', 'Roush Performance',
       'Ruf Automobile Gmbh', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Suzuki', 'TVR Engineering Ltd',
       'Tecstar, LP', 'Texas Coach Company', 'Toyota', 'VPG', 'Vector',
       'Vixen Motor Company', 'Volga Associated Automobile', 'Volkswagen',
       'Volvo', 'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

### Convert CO2 Emissions from Grams/Mile to Grams/Km

In [443]:
cars["CO2 Emission Grams/Mile"]= list(map(lambda x: x/0.621371,cars["CO2 Emission Grams/Mile"]))
cars["CO2 Emission Grams/Mile"]

0         841.308503
1        1100.172658
2         893.890285
3        1100.172658
4         893.890285
            ...
35947     392.680057
35948     391.070713
35949     392.680057
35950     395.898746
35951     410.382847
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [444]:
cars.rename(columns={'CO2 Emission Grams/Mile':'CO2 Emission Grams/km'})

,index,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/km,Fuel Cost/Year
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,841.308503,1950
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.172658,2550
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,893.890285,2100
3,3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.172658,2550
4,4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,893.890285,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.680057,1100
35948,35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,391.070713,1100
35949,35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.680057,1100
35950,35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,395.898746,1100
35951,35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,410.382847,1150

In [445]:
#cars = cars.drop(columns="CO2 Emission Grams/Mile")
cars["Transmission"].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

### Replacing the column Transmission with either Transmission or Manual

In [446]:
cars["trans_type_bool"]= list(map(lambda x: "1" if ( "Auto" in x ) else "0", cars['Transmission']))

In [447]:
cars["trans_type_bool"].value_counts()
cars["trans_type_bool"]= cars["trans_type_bool"].astype(int)

### MPG columns to km_per_liter

In [448]:
cars["trans_type_bool"].value_counts()
cars

,index,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,trans_type_bool
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,841.308503,1950,1
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.172658,2550,1
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,893.890285,2100,1
3,3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,1100.172658,2550,1
4,4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,893.890285,2550,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.680057,1100,1
35948,35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,391.070713,1100,1
35949,35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,392.680057,1100,1
35950,35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,395.898746,1100,1
35951,35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,410.382847,1150,0

In [449]:
cars["City MPG"]= list(map(lambda x: x*0.425144,cars["City MPG"]))
cars["Highway MPG"]= list(map(lambda x: x*0.425144,cars["Highway MPG"]))
cars["Combined MPG"]= list(map(lambda x: x*0.425144,cars["Combined MPG"]))

cars= cars.rename(columns={'City MPG':'City Kmpl',"Highway MPG":"Highway Kmpl","Combined MPG":"Combined Kmpl"  })

### How many car makers are there? How many models? Which car maker has the most cars in the dataset?

In [450]:

no_car_makers= np.size(cars["Make"].unique())
no_car_makers

122

In [451]:
no_of_models= np.size(cars["Model"].unique())
no_of_models

3608

In [452]:
make = cars['Make'].value_counts().index[0]
make

'Chevrolet'

In [453]:
cars.groupby('Make')['Model'].count()

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Model, Length: 122, dtype: int64

### When were these cars made?

In [454]:
max_maker= (cars[ cars['Make'] == "Chevrolet" ][['Make','Model','Year','Engine Displacement','Transmission','Drivetrain','Fuel Type']])
max_maker

,Make,Model,Year,Engine Displacement,Transmission,Drivetrain,Fuel Type
4275,Chevrolet,Astro 2WD (cargo),1985,2.5,Manual 4-spd,Rear-Wheel Drive,Regular
4276,Chevrolet,Astro 2WD (cargo),1985,4.3,Automatic 4-spd,Rear-Wheel Drive,Regular
4277,Chevrolet,Astro 2WD (cargo),1985,4.3,Manual 4-spd,Rear-Wheel Drive,Regular
4278,Chevrolet,Astro 2WD (cargo),1985,4.3,Manual 5-spd,Rear-Wheel Drive,Regular
4279,Chevrolet,Astro 2WD (cargo),1985,2.5,Automatic 4-spd,Rear-Wheel Drive,Regular
...,...,...,...,...,...,...,...
7913,Chevrolet,Volt,2013,1.4,Automatic (variable gear ratios),Front-Wheel Drive,Premium Gas or Electricity
7914,Chevrolet,Volt,2014,1.4,Automatic (variable gear ratios),Front-Wheel Drive,Premium Gas or Electricity
7915,Chevrolet,Volt,2015,1.4,Automatic (variable gear ratios),Front-Wheel Drive,Premium Gas or Electricity
7916,Chevrolet,Volt,2016,1.5,Automatic (variable gear ratios),Front-Wheel Drive,Regular Gas or Electricity
7917,Chevrolet,Volt,2017,1.5,Automatic (variable gear ratios),Front-Wheel Drive,Regular Gas or Electricity

In [455]:
cars["Transmission"].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

In [456]:
cars["Drivetrain"].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [457]:
cars["Fuel Type"].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

### Cars which consumes more(max) or less(min) at year.

In [458]:
max= np.max(cars["Fuel Barrels/Year"])
cars[cars["Fuel Barrels/Year"]==max]

,index,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City Kmpl,Highway Kmpl,Combined Kmpl,CO2 Emission Grams/Mile,Fuel Cost/Year,trans_type_bool
20894,20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.550864,4.25144,2.976008,2043.177793,5800,0
20895,20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.550864,4.25144,2.976008,2043.177793,5800,0
20896,20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.550864,4.25144,2.976008,2043.177793,5800,0
20897,20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.550864,4.25144,2.976008,2043.177793,5800,0
20898,20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,2.550864,4.25144,2.976008,2043.177793,5800,0

In [459]:
min= np.min(cars["Fuel Barrels/Year"])
cars[cars["Fuel Barrels/Year"]==min]

,index,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City Kmpl,Highway Kmpl,Combined Kmpl,CO2 Emission Grams/Mile,Fuel Cost/Year,trans_type_bool
17395,17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,11.478888,16.155472,13.179464,368.048002,1000,1
17396,17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,11.478888,16.155472,13.179464,350.837101,1000,1
17397,17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,11.478888,16.155472,13.179464,350.837101,1000,1
17398,17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,11.478888,16.155472,13.179464,350.837101,1000,1

### Drop the column combined Kmpl

In [460]:
cars.drop(columns="Combined Kmpl",inplace=True)

### Changing column names

In [461]:
col_names = ["Brand", "Model", "Year", "Engine_cc", "Cyl", "Trans", "Drivetrain", "Class", "Fuel_type", "Barrels_per_year", "City_MPG", "Highway_MPG", "CO2_grams_per_km", "Fuel_cost_per_year"]

In [462]:
cars= cars.rename(columns={'Make':'Brand',"Engine Displacement":"Engine_cc","Cylinders":"Cyl","Transmission":"Trans","Vehicle Class":"Class","Fuel Type":"Fuel_type","Fuel Barrels/Year":"Barrels_per_year","City Kmpl":"City_Kmpl","Highway Kmpl":"Highway_Kmpl","Combined Kmpl":"Combined_Kmpl","CO2 Emission Grams/Mile":"CO2_grams_per_km","Fuel Cost/Year":"Fuel_cost_per_year" })

In [463]:
cars

,index,Brand,Model,Year,Engine_cc,Cyl,Trans,Drivetrain,Class,Fuel_type,Barrels_per_year,City_Kmpl,Highway_Kmpl,CO2_grams_per_km,Fuel_cost_per_year,trans_type_bool
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652592,7.227448,841.308503,1950,1
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,1100.172658,2550,1
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802304,7.227448,893.890285,2100,1
3,3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,1100.172658,2550,1
4,4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952016,8.928024,893.890285,2550,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,392.680057,1100,1
35948,35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,391.070713,1100,1
35949,35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,392.680057,1100,1
35950,35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.580616,395.898746,1100,1
35951,35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604608,16.580616,410.382847,1150,0

### What brand has the most cars?

In [464]:
cars["Brand"].value_counts()
# Chevrolet has the most cars

Chevrolet                 3643
Ford                      2946
Dodge                     2360
GMC                       2347
Toyota                    1836
                          ...
Fisker                       1
Panos                        1
Shelby                       1
Panoz Auto-Development       1
Lambda Control Systems       1
Name: Brand, Length: 122, dtype: int64

### What brand has the most cars?

In [465]:
# Cars having the worst CO2 emission
#cars.sort_values("CO2 Emission Grams/Mile")

### show the average CO2_Emission_Grams/Km by Brand

In [466]:
cars

,index,Brand,Model,Year,Engine_cc,Cyl,Trans,Drivetrain,Class,Fuel_type,Barrels_per_year,City_Kmpl,Highway_Kmpl,CO2_grams_per_km,Fuel_cost_per_year,trans_type_bool
0,0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652592,7.227448,841.308503,1950,1
1,1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,1100.172658,2550,1
2,2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802304,7.227448,893.890285,2100,1
3,3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,1100.172658,2550,1
4,4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952016,8.928024,893.890285,2550,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,392.680057,1100,1
35948,35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,391.070713,1100,1
35949,35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,392.680057,1100,1
35950,35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.580616,395.898746,1100,1
35951,35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604608,16.580616,410.382847,1150,0

In [467]:
cars.groupby('Brand').mean()['CO2_grams_per_km']

Brand
AM General                      983.886026
ASC Incorporated                893.890285
Acura                           680.085368
Alfa Romeo                      746.658784
American Motors Corporation     813.940179
                                  ...
Volkswagen                      632.056728
Volvo                           701.358375
Wallace Environmental          1058.932633
Yugo                            573.036489
smart                           397.557265
Name: CO2_grams_per_km, Length: 122, dtype: float64

### show the average CO2_Emission_Grams/Km by Brand ... sorted

In [468]:
c= pd.DataFrame(cars.groupby('Brand').mean()['CO2_grams_per_km'])
c.sort_values("CO2_grams_per_km")

                        CO2_grams_per_km
Brand
Fisker                        271.979220
smart                         397.557265
Fiat                          490.313451
Daihatsu                      499.199448
MINI                          504.878506
...                                  ...
Rolls-Royce                  1231.271897
Dutton                       1233.919138
Laforza Automobile Inc       1300.204050
Bugatti                      1405.058331
Vector                       1688.459426

[122 rows x 1 columns]

### Use pd.cut or pd.qcut to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade

In [469]:
cars['Year'].value_counts()

1985    1581
2015    1264
2016    1228
2014    1211
1987    1198
1986    1188
2008    1184
2009    1183
2013    1168
2005    1156
2012    1139
1989    1127
2007    1126
2011    1124
1991    1122
1988    1119
2004    1113
2010    1108
1992    1107
2006    1099
1993    1077
1990    1068
2003    1034
1994     967
2002     961
1995     928
2001     902
2017     857
1999     828
2000     827
1998     791
1996     767
1997     755
1984     645
Name: Year, dtype: int64

In [470]:
def classifier(x):
    if x in range(1980,1990):
        return "80's"
    elif x in range(1990,2000):
        return "90's"
    elif x in range(2000,2010):
        return "10's"
    else:
        return "20's"

In [471]:
cars["Decade"]= cars.Year.apply(lambda x: classifier(x))
cars[['Year','Decade']]

       Year Decade
0      1984   80's
1      1984   80's
2      1985   80's
3      1985   80's
4      1987   80's
...     ...    ...
35947  2013   20's
35948  2014   20's
35949  2015   20's
35950  2016   20's
35951  2016   20's

[35952 rows x 2 columns]

In [472]:
cars["Year_range"]= pd.cut(cars["Year"], 
                             bins = [1980,1989,1999,2009,2019],
                             labels=["80s", "90s", "00s", "10s"])

cars.loc[:,['Year','Decade','Year_range']]

       Year Decade Year_range
0      1984   80's        80s
1      1984   80's        80s
2      1985   80's        80s
3      1985   80's        80s
4      1987   80's        80s
...     ...    ...        ...
35947  2013   20's        10s
35948  2014   20's        10s
35949  2015   20's        10s
35950  2016   20's        10s
35951  2016   20's        10s

[35952 rows x 3 columns]

### Did cars consume more gas in the eighties?

In [473]:
cars.columns

Index(['index', 'Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans',
       'Drivetrain', 'Class', 'Fuel_type', 'Barrels_per_year', 'City_Kmpl',
       'Highway_Kmpl', 'CO2_grams_per_km', 'Fuel_cost_per_year',
       'trans_type_bool', 'Decade', 'Year_range'],
      dtype='object')

### show the average City_Km/Liter by year_range

In [476]:

cars.groupby('Decade').mean()['City_Kmpl']

Decade
10's    7.156959
20's    8.310189
80's    7.366559
90's    7.207930
Name: City_Kmpl, dtype: float64

### Which brands are more environment friendly?

In [478]:
cars.groupby('Brand').mean()['CO2_grams_per_km']

Brand
AM General                      983.886026
ASC Incorporated                893.890285
Acura                           680.085368
Alfa Romeo                      746.658784
American Motors Corporation     813.940179
                                  ...
Volkswagen                      632.056728
Volvo                           701.358375
Wallace Environmental          1058.932633
Yugo                            573.036489
smart                           397.557265
Name: CO2_grams_per_km, Length: 122, dtype: float64

### Does the drivetrain affect fuel consumption?

In [482]:
cars.groupby("Drivetrain")[["Highway_Kmpl","City_Kmpl"]].mean().sort_values("City_Kmpl",ascending=False)

                            Highway_Kmpl  City_Kmpl
Drivetrain
2-Wheel Drive, Front           14.029752  10.628600
Front-Wheel Drive              12.166243   9.002238
All-Wheel Drive                10.882560   7.785619
4-Wheel Drive                   9.668610   7.190881
2-Wheel Drive                   8.222466   6.642498
Rear-Wheel Drive                9.023970   6.556592
4-Wheel or All-Wheel Drive      8.347153   6.392066
Part-time 4-Wheel Drive         8.115407   6.215713

### Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [484]:
cars.groupby("Trans")[["City_Kmpl"]].mean().sort_values("City_Kmpl",ascending=False)

                                  City_Kmpl
Trans
Auto(A1)                          17.430904
Auto (AV)                         14.880040
Automatic (A1)                    14.454896
Auto(AM5)                         14.313181
Automatic (AM5)                   14.029752
Auto(AV-S7)                       11.883787
Automatic (variable gear ratios)  11.674769
Auto(AV-S6)                       11.030288
Auto(AM-S6)                       10.337469
Auto(AM6)                         10.164807
Automatic (AV-S6)                 10.061741
Auto(AM-S8)                       10.061741
Auto(AV-S8)                        9.712905
Auto(AM8)                          9.523226
Auto (AV-S6)                       9.353168
Automatic (AV)                     9.246882
Auto(AM-S9)                        8.928024
Automatic 6spd                     8.928024
Automatic 9-spd                    8.535947
Auto (AV-S8)                       8.502880
Automatic (S9)                     8.470177
Manual 5-spd                       8.180760
Automatic (S8)                     7.843907
Automatic (S6)                     7.796084
Manual 6-spd                       7.782785
Manual 7-spd                       7.746374
Automatic (S4)                     7.684153
Auto(AM-S7)                        7.544645
Automatic 3-spd                    7.418656
Automatic 7-spd                    7.277540
Automatic (S5)                     7.264687
Manual 4-spd                       7.172759
Automatic (S7)                     7.144374
Automatic 6-spd                    7.108693
Automatic 8-spd                    7.047243
Auto(AM7)                          6.907913
Automatic 4-spd                    6.778607
Automatic 5-spd                    6.566526
Manual 3-spd                       6.049684
Manual 5 spd                       5.952016
Manual(M7)                         5.952016
Auto(L3)                           5.952016
Automatic (A6)                     5.952016
Auto(L4)                           5.739444
Automatic (AM6)                    5.526872

### aggregate with average City_Km/Liter and the count of the Trans

In [503]:
cars.aggregate({"City_Kmpl":["mean","count"],"Trans":["mean","count"]})

         City_Kmpl    Trans
mean       7.50215      NaN
count  35952.00000  35952.0

### aggregate with average City_Km/Liter and the minimum of the Trans

In [499]:
cars.aggregate({"City_Kmpl":["mean"],"Trans":["min"]})

      City_Kmpl      Trans
mean    7.50215        NaN
min         NaN  Auto (AV)